{% extends "base.html" %}
{% block title %}Index{% endblock title %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Question Bee</h1>
    <p class="lead">Your go-to site for creating and taking your own custom made quizes as well as those made other users.</p>
    <a href="{% url "quizzes" %}">See all quizzes.</a>
  </div>
</div>

{% comment %} <div id="root"></div>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script> {% endcomment %}

{% endblock content %}