{% extends "base.html" %}
{% block title %}Quizzes{% endblock title %}


{% block content %}

<div class="row">
    <span class="col-8 page-title">
        Quizzes
    </span>
    <div class="col-4 align-self-center">
        <a href="{% url "quiz_create" %}"><button class="float-right btn btn-add ">Create a Quiz</button></a>
    </div>
</div>

<br/>
<br/>
{% if quiz_data %} 
    {% for quiz in quiz_data%}
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="card col px-0" name="{{quiz.quiz_name}}" id="{{ quiz.id }}">
            <div class="card-img card-canvas" name="{{quiz.quiz_name}}" id="{{ quiz.id }}"></div>
            <div class="card-img-overlay px-0 py-0">
                <div class="quiz-card-overlay">
                    <h5 class="card-title"><a href="{% url 'quiz_detail' quiz.id %}">{{quiz.quiz_name}}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{quiz.created_at}}</h6>
                    <a href="#" class="card-link"><a href="{% url 'user_detail' quiz.owner.id %}">{{quiz.author}}</a></a>
                </div>
            </div> 
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% endfor %}
    </div>
{% else %}
    <div>
        <p> No quizzes to display... </p>
    </div>
{% endif %}

</br>
{% comment %} pagination {% endcomment %}
{% if quiz_data.has_other_pages %}
    <ul class="pagination justify-content-center">
            {% if quiz_data.has_previous %}
                <li class="page-item">
                <a class="page-link" href="{% url "quiz_index" quiz_data.previous_page_number  %}" tabindex="-1">Previous</a>
            {% else %}
                <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
            {% endif %}
        </li>

        {% if quiz_data.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="{% url "quiz_index" quiz_data.number|add:-5 %}">...</a></li>
        {% endif %}

        {% for i in quiz_data.paginator.page_range  %}
            {% if quiz_data.number == i %}
                <li class="page-item active"><a class="page-link" href="{% url "quiz_index" i %}">{{ i }}</a></li>
            {% elif i > quiz_data.number|add:'-5' and i < quiz_data.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="{% url "quiz_index" i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if quiz_data.paginator.num_pages > quiz_data.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="{% url 'quiz_index' quiz_data.number|add:5 %}">...</a></li>
        {% endif %}

        {% if quiz_data.has_next %}
            <li class="page-item">
            <a class="page-link" href={% url "quiz_index" quiz_data.next_page_number%}>Next</a>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link disabled">Next</a>
        {% endif %}
        </li>
    </ul>
{% endif %}


<div id="root"></div>
{% load static %}
<script src="{% static "frontend/populate_canvas.js" %}"></script>

{% endblock content %}