{% extends "base.html" %}
{% block title %}Quiz{% endblock title %}


{% block content %}

{% comment %} <h2>Editing Quiz</h2> {% endcomment %}
<br/>

<div id="root"></div>
{% load static %}
<script src="{% static "frontend/quiz_take.js" %}"></script>

{% endblock content %}