{% extends "base.html" %}
{% block title %}Editing Quiz{% endblock title %}


{% block content %}

<h2>Editing Quiz</h2>
<br/>

<div id="root"></div>
{% load static %}
<script src="{% static "frontend/quiz_edit.js" %}"></script>

{% endblock content %}