{% extends "base.html" %}
{% block title %}Create Quiz{% endblock title %}

{% block content %}

<div id="root"></div>
{% load static %}
<script src="{% static "frontend/quiz_create.js" %}"></script>

{% endblock content %}