{% extends "base.html" %}
{% block title %}Results{% endblock title %}


{% block content %}

<div id="root"></div>
{% load static %}
<script src="{% static "frontend/quiz_results.js" %}"></script>

{% endblock content %}