{% extends "base.html" %}
{% block title %}Quiz Preview{% endblock title %}


{% block content %}

<div id="root"></div>
{% load static %}
<script src="{% static "frontend/quiz_detail.js" %}"></script>

{% endblock content %}