{% extends "base.html" %}
{% block title %}User{% endblock title %}


{% block content %}

<div>
    <h1>{{user_data.username}}'s Profile
    <a href="{% url "quiz_create" %}"><button class=" float-right btn btn-add">Create a Quiz</button></a>
    </h1>
    <br/>
    <br/>
    <h2>Quizzes</h2>
    <br/>
    {% with user_data.quizzes.all as quizzes %}
    {% if quizzes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Quiz Name</th>
                <th>Owner</th>
                <th>Published</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td><a href="{% url "quiz_detail" quiz.id %}">{{quiz.quiz_name}}</a></td>
                    <td>{{quiz.owner}}</td>
                    <td>{{quiz.created_at}}</td>
                    <td>{{quiz.last_modified}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% else %}
    <p>No quizzes to display.</p>
    {% endif %}
    {% endwith %}
</div>

{% if show_grades %}
{% with user_data.grades.all as grades %}
    {% if grades %}
    {% load mathfilters %}
    <div>
        <h2>Your Grades</h2>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Quiz Name</th>
                    <th>Score</th>
                    <th>Points</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Answers</th>
                </tr>
            </thead>
            <tbody>
                
                {% for grade in grades %}
                    <tr>
                        <td>{{grade.quiz.quiz_name}}</td>
                        <td>{{grade.score_percent|floatformat}}%</td>
                        <td>{{grade.score|floatformat}}</td>
                        <td>{{grade.total_score|floatformat}}</td>
                        <td>{{grade.created_at}}</td>
                        <td><a href={% url "quiz_results" grade.id %}>Review Answers</a></td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    {% else %}
    <p>You don't have any grades yet.</p>
    {% endif %}
{% endwith %}
{% endif %}

{% comment %} <div id="root"></div>
{% load static %}
<script src="{% static "frontend/user_detail.js" %}"></script> {% endcomment %}

{% endblock content %}