body {
    background-color: #222927;
    color: #EBFAF6;
}
mark {
  background-color: #C2FCD3;
  color: black;
}

.login-box{
  /* center */
  margin: auto; 

  border-radius: 6px;
  background: #143528;
  border: solid #385e4e 2.5px;
  /* max-width:500px; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-button{
  width:260px;
}

input, select{
    color: #222927;
    background: #C2FCD3;
    
  }

.navbar-custom {
    background-color: #229C7D;
}

.nav{
  background-color: #111414;
}

.navbar .navbar-brand {
  color: rgb(210, 255, 224);
}

.navbar > .navbar-brand:hover {
  color: rgb(235, 205, 176);
}

/* selected link */
.navbar > .navbar-brand:active{
  color: rgb(46, 80, 56);
} 


/* unvisited link */
nav > a:link {
    color: #C2FCD3;
}

/* visited link */
nav > a:visited {
  color: #C2FCD3;
}

/* mouse over link */
nav > a:hover {
  color: rgb(158, 42, 100);
}

/* selected link */
nav > a:active{
  color: rgb(46, 80, 56);
} 


.jumbotron {
    background-color: #229C7D;
}

/* unvisited link */
a:link {
  color: #C2FCD3;
}

/* visited link */
a:visited {
color: #C2FCD3;
}

/* mouse over link */
a:hover {
color: rgb(158, 103, 52);
}

/* selected link */
a:active{
color: rgb(185, 115, 35);
} 

* { 
  margin: 0; padding: 0;
}

.table {
  background-color: #112b23;
  color: #EBFAF6;
}

.test{
  color: rgba(237,250,146,1);
  color: rgba(75,112,76,1);
  color: rgba(186,190,152,1);
  color: rgba(51,33,46,1);
  color: rgba(94,78,105,1);
  color: rgba(113,140,168,1);
  color: rgba(31,192,204,1);
  color: rgba(142,87,93,1);
  color: rgba(85,83,97,1);
  color: rgba(223,128,100,1);
}

.table > a {
  color: rgb(211, 255, 243)
}

.disabled {
  color: rgb(84, 100, 96);
}

.card {
  background-color: rgba(255, 255, 255, 0);
  border: black 0px;
  color: #EBFAF6;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 15px;
  min-height: 150px;
}

.card > *{
  padding: 0;
  margin: 0;
}
.card > a {
  color: rgb(211, 255, 243)
}

.card-background,
.card-canvas{
  min-height: 150px;
  margin: 0;
  padding: 0;
}

.quiz-card-overlay{
  padding: 20px;
  margin: 3px;
  border-radius: 3px;
  /* background-color: rgba(255,255,255,0.2); */
  background-color: rgba(42, 58, 53, 0.8);
}

.stick-bottom-container{
  padding: 0;
  margin: 0;
  position:relative 
}

.stick-bottom{
  position: absolute;
  bottom: 6px;
  left: 0;
}


.mix-border{
  mix-blend-mode: overlay;
  border-bottom: solid 5px;
}

.quiz-card-title{
  font-size: 3em;
  /* background-color: rgba(42, 58, 53, 0.8); */
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 0;
  /* border-bottom: solid #1c201e 5px; */
}


.quiz-card-overlay > .card-subtitle{
  color: #dddddd !important;
  /* background: rgb(82, 76, 65, 1); */
}

.question {
    position:relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.question-detail{
    position:relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
  border-radius: 5px;
  background-color: rgb(20, 53, 40);
  border: 3px solid #229C7D;
}

.question-edit {
  
  border-radius: 25px;
  background-color: rgb(101, 209, 168);
  border: 5px solid #229C7D;
}

.choice {

}

.choice-input {
    color: "#77ffcc";
}

.quiz-title-input{
    margin-left: 1%;
    font-size: 300%;
}

.quiz-title {
	text-decoration: underline;
}

.quiz-titleext {
    margin-top: 5px;
    margin-bottom: 5px;
}

.quiz-titleype {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-text{
  color: #111111
}

.page-title{
  color: #b9dbc4;
  font-size: 3.2em;
  border-bottom: solid #b9dbc4 3px;
  padding-bottom: 10px;
}

.choice-input {

}

.choice-is-correct {

}


[class^="delete-"]{
    font-size: 0.8em
}

.delete-question {
    margin-right: 10px;
}

.quiz-detail-edit {
  margin-right: 80%;
}

.delete-choice{

}

.pagination > li > a
{
    background-color: rgb(20, 39, 25);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: rgb(250, 171, 98);
    background-color: rgb(58, 114, 73);
}

.pagination > .active > a
{
    color: white;
    background-color: rgb(77, 153, 97) !important;
    border-color: white !important;
}

.pagination > .active > a:hover
{
  color: rgb(250, 171, 98) !important;
  background-color: rgb(89, 185, 115) !important;
}

.pagination > .disabled > a
{
    color: white !important;
    background-color: rgb(20, 39, 25) !important;
}


/* from http://blog.koalite.com/bbg/ */

.btn-add { 
  color: #EBFAF6; 
  background-color: #229C7D; 
  border-color: #229C7D; 
} 
 
.btn-add:hover, 
.btn-add:focus, 
.btn-add:active, 
.btn-add.active, 
.open .dropdown-toggle.btn-add { 
  color: #EBFAF6; 
  background-color: rgb(21, 109, 87); 
  border-color: #229C7D; 
} 
 
.btn-add:active, 
.btn-add.active, 
.open .dropdown-toggle.btn-add { 
  background-image: none; 
} 
 
.btn-add.disabled, 
.btn-add[disabled], 
fieldset[disabled] .btn-add, 
.btn-add.disabled:hover, 
.btn-add[disabled]:hover, 
fieldset[disabled] .btn-add:hover, 
.btn-add.disabled:focus, 
.btn-add[disabled]:focus, 
fieldset[disabled] .btn-add:focus, 
.btn-add.disabled:active, 
.btn-add[disabled]:active, 
fieldset[disabled] .btn-add:active, 
.btn-add.disabled.active, 
.btn-add[disabled].active, 
fieldset[disabled] .btn-add.active { 
  background-color: #229C7D; 
  border-color: #229C7D; 
} 
 
.btn-add .badge { 
  color: #229C7D; 
  background-color: #EBFAF6; 
}

.btn-save { 
  color: #1A2B26; 
  background-color: #C2FCD3; 
  border-color: #C2FCD3; 
} 
 
.btn-save:hover, 
.btn-save:focus, 
.btn-save:active, 
.btn-save.active, 
.open .dropdown-toggle.btn-save { 
  color: #1A2B26; 
  background-color: #229C7D; 
  border-color: #C2FCD3; 
} 
 
.btn-save:active, 
.btn-save.active, 
.open .dropdown-toggle.btn-save { 
  background-image: none; 
} 
 
.btn-save.disabled, 
.btn-save[disabled], 
fieldset[disabled] .btn-save, 
.btn-save.disabled:hover, 
.btn-save[disabled]:hover, 
fieldset[disabled] .btn-save:hover, 
.btn-save.disabled:focus, 
.btn-save[disabled]:focus, 
fieldset[disabled] .btn-save:focus, 
.btn-save.disabled:active, 
.btn-save[disabled]:active, 
fieldset[disabled] .btn-save:active, 
.btn-save.disabled.active, 
.btn-save[disabled].active, 
fieldset[disabled] .btn-save.active { 
  background-color: #C2FCD3; 
  border-color: #C2FCD3; 
} 
 
.btn-save .badge { 
  color: #C2FCD3; 
  background-color: #1A2B26; 
}

.quiz-name-header{
  text-align: center;
  background-color: #229C7D;
  border-bottom: 2px solid rgb(219, 219, 219);
  margin-bottom: 100px;
  padding-bottom: 1em;
  /* border-left: 2px solid rgb(219, 219, 219);
  border-right: 2px solid rgb(219, 219, 219); */
}

.custom-control{
  background-color: #374743;
  border-radius: 10px;
  font-size: 13pt;
}

.custom-control-input{
  margin-right: 10px;  
}

.custom-control-checked{
  background-color: #3fc9a6 !important;
  color: black !important;
  transition: color 0.1s linear;
  transition: background-color 0.1s linear;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #293632;
  border-radius: 4px;
  background-color: #374743;
  color: rgb(209, 255, 243);
  resize: vertical;
}

input.quiz-take-choice[type="text"]{
  font-size:24px;
  letter-spacing:1px;
  padding:  5px;
  border: 0;
  background:  #374743;
  border-left: 2px solid #33443f;
  border-right: 2px solid #33443f;
  border-top: 2px solid #33443f;
  border-bottom: 2px solid rgb(219, 219, 219);
  width: 100%;
  color: rgb(209, 255, 243);
}

.quiz-take-choice{
  margin-right: 1em;
}

.quiz-take-choice-radio{

}

.quiz-take-choice-checkbox{

}