<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">


    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>Question Bee | {% block title %}{% endblock title %}</title>
    <script>
        window.django = {
            csrf: "{{ csrf_token }}",
            urls: {
                logout: "{% url "logout" %}",
                staticRoot: "{% static "" %}",
            },
            user: {
                username: "{{ request.user.username }}",
                id: "{{ request.user.id }}",
            }
        };
    </script>
</head>
<body>

    <nav class="navbar navbar-light navbar-custom">
        <a class="navbar-brand" href="/">
            <image src="{% static "images/bee_xs_alt.png" %}"
                class="navbar-brand"
                alt="bee logo"
            />
            Question Bee
        </a>
    </nav>
    <nav class="nav">
        <a class="nav-link active" href="{% url "index"%}">Home</a>
        <a class="nav-link" href="{% url "quizzes"%}">Quizzes</a>

        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url "quiz_create"%}">Create Quiz</a>
        {% endif %} 

        <a class="nav-link" style="padding-right: 50px"></a>

        {% if user.is_authenticated %}
            <a class="nav-link" href={% url "user_detail" user.id %}>{{ user.get_username }}</a>
            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
        {% endif %} 
        
        <p> 
    </nav> 

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8"
                 style="margin-top: 25px"
            >

                {% if messages %}
                <div id="alert-box">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.extra_tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% block content %}{% endblock content %}
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</body>
</html>

