{% extends "base.html" %}

{% block content %}

<div class="login-box">
  <h3>Login</h3>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container-fluid">
      <div class"row">
        <div class="col">{{ form.username.label_tag }}</div>
        <div class="col">{{ form.username }}</div>
      </div>
      <div class"row">
        <div class="col">{{ form.password.label_tag }}</div>
        <div class="col">{{ form.password }}</div>
      </div>
    </div>

    </br>
    <input class="btn btn-add login-button" type="submit" value="Login"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

  </br>
  <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
</div>
{% endblock content %}