{% extends "base.html" %}
{% block content %}

  <div class="login-box">
    <h3>Password Reset</h3>
    <form action="" method="post">
    <div class="container-fluid">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
      <div class"row">
        <div class="col">{{ form.email.label_tag }}</div>
        <div class="col">{{ form.email }}</div>
      </div>
    </div>
    <br/>
      <input type="submit" class="btn btn-add" value="Reset password">
    </form>
  </div>
{% endblock %}