{% extends 'base.html' %}

{% block content %}
    <div class="login-box">
      <h3>Register an account</h3>
      </br>
        <form method="POST">
            {% csrf_token %}
            <style>
                ul {padding-left: 45px;}
            </style>
            {{form.as_p}}
             <button class="btn btn-add" type="submit">Register</button>
            </br>
        </form>

        If you already have an account <a href="{% url 'login'%}?next={{request.path}}">Login</a> instead.
    </div>

{% endblock %}