{% extends "frontend/base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}

<div id="root"></div>
{% load static %}
{% comment %} <script src="{% static "frontend/main.js" %}"></script> {% endcomment %}

{% endblock content %}